max_connections = 10    # (change requires restart)

max_prepared_transactions = 10    # zero disables the feature
# (change requires restart)
# Caution:
# it is not advisable to set max_prepared_transactions nonzero unless
# you actively intend to use prepared transactions.
# the value of max_prepared_transactions should be equals to the max_connections value